.index-brand-dark{
    border: 1px solid $wk-primary-gray-tint5;
    padding: 1em;
  }
  
  .index-brand-light {
      padding: 1em;
      background-color: $wk-primary-blue;
  }
  
  .fira-sans-all-caps{
    font-family: 'Fira Sans';
    color: $wk-primary-gray-tint2;
    font-size: 16px;
    text-transform: uppercase;
  }