<div style="display: flex;">  
  <div style="width: 25%;"><img src="assets\images\wolters-kluwer-logo-large-dark.png" alt=""></div>
  <div style="width: 75%;">
    <div style="float: right;padding-top: 30px;">
        <button  class="btn btn-danger" (click)="doLogout()">Logout</button>
    </div>
    
  </div>
</div>
<div>
  
  <div>
    
    <nav class="navbar bg-primary-wkBlue-base p-0 wk-navbar-product-name">
        <span class="wk-icon-filled wk-icon-filled-menu" style="color: white;font-size: 25px;padding-left: 10px;cursor:pointer;" (click)="toggleMenuPanel()"></span>
      <span class="navbar-text ml-auto bg-primary-wkGreen-base text-primary-wkWhite-base">
        Axcess </span>
    </nav>
    <div *ngIf="isMenuPanelVisible" class="wk-card" style="background-color: #F2F3F4;height:auto;width:auto;z-index: 1000;position: absolute;">
      <app-app-links></app-app-links>
    </div>

    <!-- child apps container -->
    <div style="margin-top: 10px;padding: 10px;" id="content" class="content"></div>  
       
      
   
    <!-- <div style="padding: 10px;">
      <div style="display: flex;padding-bottom: 10px;">
        <div style="padding-top: 10px;"><a [routerLink]="['/', 'am']">Admin manager</a></div>
        <div style="margin-left: 10px;padding-top: 10px;"><a [routerLink]="['/', 'tax']">Tax</a></div>
        <div style="padding-left: 20px;"><button  class="btn btn-danger" (click)="doLogout()">Logout</button></div>
      </div>
      <div style="margin-top: 10px;padding: 10px;" id="content" class="content">
    
       
      </div>
      <div style="margin-top: 10px;padding: 10px;" id="content1" class="content1">
    
       
      </div>
    </div> -->
  </div>
</div>

