.brand-logo-dv {
  width: 25%;
}

.btn-logout-dv {
  width: 5%;
}

.username-dv {
  padding: 33px 10px 0px 0px;
  width: 70%;
  
}

.font-20px{
  font-size: 20px; 
}

.username-spn {
  padding-left: 10px; 
 
}

.btn-logout-dv-inner {
  float: right;
  padding-top: 30px;
}

.btn-home {
  color: white;
  font-size: 25px;
  padding-left: 10px;
  cursor: pointer;
}

.btn-menu {
  color: white;
  font-size: 25px;
  padding-left: 10px;
  cursor: pointer;
}

.menu-panel-container {
  border-radius: 0;
  position: fixed;
  z-index: 1000;
  top: 138px;
  left: 300px;
  width: 450px;
  margin-left: -300px;
  border: none;
  border-radius: 0;
  overflow-y: auto;
  background-color: #ededed;
  bottom: 0;
  overflow-x: hidden;
  padding-bottom: 40px;
  transition: all 0.2s ease-in-out;
}

.child-app-container {
  margin-top: 10px;
  padding: 10px;
 
}
