<div class="wk-card shell-link-card">

  <!-- link group -->
  <h2><a><span class="axcessglyphs dashboardGlyphContainer shell-link-card-marg-top-10"><span
          class="{{linkGroup.iconDetails}}">&nbsp;</span></span>{{linkGroup.groupName | uppercase}}</a></h2>

  <!-- links -->
  <ul class="shell-link-card-lst-sty-none">
    <li *ngFor="let link of linkGroup.appLinks">
      <span class="commonglyphs"><span class="commonglyphs-arrow-right">&nbsp;</span></span>
      <a (click)="linkClicked(link.ldDescription)" style="cursor:pointer;">{{link.ldDescription}}</a>
  </ul>

</div>