<div style="margin: 0 auto; width: 100%;margin-top: 300px;">
  <div style="padding: 10px;margin: 0 auto; width:450px;">
      <h1>Axcess Return Manager</h1>
    </div>
    <div style="padding: 10px;margin: 0 auto; width:425px;">
        <button class="btn btn-success" (click)="sendMess()">Send alert</button> 
        <button style="margin-left: 15px" class="btn btn-primary" (click)="showModal()">Show Modal</button>
        <button style="margin-left: 15px" class="btn btn-danger" (click)="sendNotification()">Send notification</button>
      </div>
</div>