<div>
  <div class="container-fluid">
    <div class="card">
      <div style="padding: 10px;margin: 0 auto; width:400px;">
        <h1>Firm Mailing lists</h1>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col">
            <table class="table table-hover wk-borderless">
              <thead>
                <tr>
                  <th>NAME</th>
                  <th>OLD NAME</th>
                  <th>GUID</th>
                </tr>
              </thead>
              <tbody *ngIf="mailingLists">
                <tr *ngFor="let list of mailingLists.firmMailingListInfo">
                  <td style="width: 30%;">{{list.name}}</td>
                  <td style="width: 30%; ">{{list.oldName}}</td>
                  <td style="width: 30%; ">{{list.firmMailingListGuid}}</td>
                </tr>
               
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>