<div>
  <ng-template #content let-ca="close('a')" let-cb="close('b')" let-d="dismiss()">
    <div class="modal-header">
      <h4 class="modal-title">{{modalData.modalTitle}}</h4>
      <span class="commonglyphs commonglyphs-close pull-right modal-close" aria-label="Close"
        (click)="ca"></span>
    </div>
    <div class="modal-body">
      <p>{{modalData.modalBody}}</p>
    </div>
    <div class="modal-footer">
      <button class="btn btn-secondary" type="button" (click)="ca">No</button>
      <button class="btn btn-primary" type="button" (click)="cb">Yes</button>
    </div>
  </ng-template>
</div>