.icon-to-the-right-side-of-button {
  position: relative;
  padding-right: 50px;
  .commonglyphs {
    position: absolute;
    right: -1px;
    top: -1px;
    padding: 0.375rem 0.75rem;
    background-color: rgba(255, 255, 255, .2);
    border-color: rgba(255, 255, 255, .2);
    height: 35px;
  }
}

.icon-to-the-left-side-of-button {
  position: relative;
  padding-left: 50px;
  .commonglyphs {
    position: absolute;
    left: -1px;
    top: -1px;
    padding: 0.375rem 0.75rem;
    background-color: rgba(255, 255, 255, .2);
    border-color: rgba(255, 255, 255, .2);
    height: 35px;
  }
}

.primary-two-tone-button {
  position: relative;
  padding-right: 50px;
  .commonglyphs {
    position: absolute;
    right: -1px;
    top: -1px;
    padding: 0.375rem 0.75rem;
    background-color: rgba(255, 255, 255, .2);
    border-color: rgba(255, 255, 255, .2);
    height: 35px;
  }
}

.secondary-two-tone-button {
  position: relative;
  padding-left: 50px;
  &[disabled] {
    cursor: not-allowed;
  }
  .commonglyphs {
    position: absolute;
    left: -1px;
    top: -1px;
    padding: 0.375rem 0.75rem;
    background-color: rgba(255, 255, 255, .2);
    border-color: rgba(255, 255, 255, .2);
    height: 35px;
  }
  &:hover {
    background-color: #bfbfbf !important;
    border-color: #bfbfbf !important;
  }
}

.danger-two-tone-button {
  position: relative;
  padding-right: 50px;
  .commonglyphs {
    position: absolute;
    right: -1px;
    top: -1px;
    padding: 0.375rem 0.75rem;
    background-color: rgba(255, 255, 255, .2);
    border-color: rgba(255, 255, 255, .2);
    height: 35px;
  }
}

.success-two-tone-button {
  position: relative;
  padding-right: 50px;
  .commonglyphs {
    position: absolute;
    right: -1px;
    top: -1px;
    padding: 0.375rem 0.75rem;
    background-color: rgba(255, 255, 255, .2);
    border-color: rgba(255, 255, 255, .2);
    height: 35px;
  }
}

.jumbo-button {
  margin-left: 5% !important;
  width: 120px !important;
  height: 100px !important;
  white-space: inherit !important;
}

.icon-blue-large {
  color: $wk-primary-blue;
  font-weight: 600 !important;
  padding: 5px !important;
  font-size: large;
}

.btn-default:hover {
  color: #333 !important;
  background-color: #e6e6e6 !important;
  border-color: #adadad !important;
}

.btn-default {
  color: #333 !important;
  background-color: $wk-primary-white !important;
  border-color: #ccc !important;
}

.btn {
  border-radius: 0 !important;
}

.btn-success {
  color: $wk-primary-white !important;
  background-color: $wk-primary-green;
  border-color: #76a61c;
}

.btn-info {
  color: $wk-primary-white !important;
  background-color: $wk-primary-blue-tint2;
  border-color: #6bb2dc;
}

.btn-warning {
  color: $wk-primary-white !important;
  background-color: $wk-secondary-orange !important;
  border-color: #d17f00 !important;
}

.btn-danger {
  color: $wk-primary-white !important;
  background-color: $wk-primary-red !important;
  border-color: $wk-primary-red !important;
}

.wk-button.outline-none {
  border: none;
  background: transparent;
  color: $wk-primary-blue;
  cursor: pointer;
  &:hover {
    color: $wk-secondary-green;
  }
  &:focus {
    outline: none;
  }
}

.btn-checkbox,
.btn-radio {
  margin-right: 0;
}

.btn-checkbox.active,
.btn-radio.active {
  border: 1px solid #007AC3 !important;
  background-color: rgba(166, 209, 234, 0.25) !important;
  color: #007AC3 !important;
  font-family: Fira Sans !important;
}
